<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Inscription :: Candidature</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" /> 
    
    
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('js/plugins/faq/faq.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('css/bootstrap-responsive.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('css/font-awesome.min.css') }}" rel="stylesheet" />
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600" rel="stylesheet" />
    <link href="{{ asset('css/ui-lightness/jquery-ui-1.10.0.custom.min.css') }}" rel="stylesheet" />    
    <link href="{{ asset('css/base-admin-2.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/base-admin-2-responsive.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/custom.css') }}" rel="stylesheet" />

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
	
	<div class="navbar-inner">
		
		<div class="container">
			
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<i class="icon-cog"></i>
			</a>
			
			<a class="brand" href="./index.html">
				Candidature <sup>EN Ligne</sup>				
			</a>		
			
			<div class="nav-collapse">
				<ul class="nav pull-right">
				
			
					<li class="dropdown">
						
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<i class="icon-user"></i> 
							{% block user %}MKHAKH Radouane{% endblock %}
							<b class="caret"></b>
						</a>
						
						<ul class="dropdown-menu">
							<li><a href="javascript:;">Mon Profil</a></li>
							
							<li class="divider"></li>
							<li><a href="javascript:;">Déconnexion</a></li>
						</ul>
						
					</li>
				</ul>
			
				<form class="navbar-search pull-right" />
					<input type="text" class="search-query" placeholder="Search" />
				</form>
				
			</div><!--/.nav-collapse -->	
	
		</div> <!-- /container -->
		
	</div> <!-- /navbar-inner -->
	
</div> <!-- /navbar -->
	


    
<div class="subnavbar">

	<div class="subnavbar-inner">
	
		<div class="container">

			<a class="btn-subnavbar collapsed" data-toggle="collapse" data-target=".subnav-collapse">
				<i class="icon-reorder"></i>
			</a>

			<div class="subnav-collapse collapse">
				<ul class="mainnav">
				
					<li class="active">
						<a href="">
							<i class="icon-external-link"></i>
							<span>Candidature</span>
						</a>	    				
					</li>
					
				</ul>
			</div> <!-- /.subnav-collapse -->

		</div> <!-- /container -->
	
	</div> <!-- /subnavbar-inner -->

</div> <!-- /subnavbar -->



<div class="main">

    <div class="container">

      <div class="row">
      	
      	<div class="span8">
      		
      		<div class="widget stacked">
					
				<div class="widget-header">
					<i class="icon-pushpin"></i>
					<h3>Resume de candidature</h3>
				</div> <!-- /widget-header -->
				
				<div class="widget-content">
					
			
					
					<br />
					
					<ol class="faq-list">
                                            
                                            
<li>
<h4>Candidature</h4>
<p>


<div class="widget stacked widget-table action-table">



<div class="widget-content">

<table class="table table-striped table-bordered">
<thead>
<tr>
<th>Candidature</th>
<th>Choix de candidatures</th>


</tr>
</thead>
<tbody>
{% set counter = 0 %}
        {% for entity in candidatures %}
            <tr>
                <td><h5>{{ entity.filiere }} </h5></td>
                <td>Formation n° {{loop.index}}</td>
               
            
            </tr>
            {% set counter = loop.index %}
        {% endfor %}
</tbody>
</table>

</div> <!-- /widget-content -->

</div> <!-- /widget -->


</p>	

</li>
 
                                            
                                            
						
<li>
<h4>Etat civil</h4>
<p>






<div class="widget stacked widget-table action-table">



<div class="widget-content">

<table class="table table-striped table-bordered">

<tbody>

<tr>

<th>Nom</th>
<th></th>
<td>{{ entity.nom }}</td>

</tr>

<tr>
<th>Prenom</th>
<th></th>
<td>{{ entity.prenom }}</td>
</tr>
<tr>
<th>Datenaissance</th>
<th></th>
<td>{{ entity.datenaissance|date('Y-m-d H:i:s') }}</td>
</tr>
<tr>
<th>Adresse</th>
<th></th>
<td>{{ entity.adresse }}</td>
</tr>
<tr>
<th>Cin</th>
<th></th>
<td>{{ entity.cin }}</td>
</tr>
<tr>
<th>Cne</th>
<th></th>
<td>{{ entity.cne }}</td>
</tr>
<tr>
<th>Email</th>
<th></th>
<td>{{ entity.email }}</td>
</tr>
<tr>
<th>Telephone</th>
<th></th>
<td>{{ entity.telephone }}</td>
</tr>
<tr>
<th>Nationalite</th>
<th></th>
<td>{{ entity.nationalite }}</td>
</tr>
<tr>
<th>Ville</th>
<th></th>
<td>{{ entity.ville }}</td>
</tr>
<tr>
<th>Pays</th>
<th></th>
<td>{{ entity.pays }}</td>
</tr>
<tr>
<th>Sexe</th>
<th></th>
<td>{{ entity.sexe }}</td>
</tr>
</tbody>
</table>

</div> <!-- /widget-content -->

</div> <!-- /widget -->




</p>	

</li>

						
                                                
                                                
                                                	
<li>
<h4>Experiences</h4>
<p>


    <div class="widget stacked widget-table action-table">



<div class="widget-content">

<table class="table table-striped table-bordered">
<thead>
<tr>

<th>Intitule</th>
<th>Datedebut</th>
<th>Datefin</th>
<th>Description</th>
</tr>
</thead>
<tbody>
{% for entity in experiences %}
<tr>

<td>{{ entity.intitule }}</td>
<td>{% if entity.datedebut %}{{ entity.datedebut|date('Y-m-d H:i:s') }}{% endif %}</td>
<td>{% if entity.datefin %}{{ entity.datefin|date('Y-m-d H:i:s') }}{% endif %}</td>
<td>{{ entity.description }}</td>

</tr>
{% endfor %}
</tbody>
</table>

</div> <!-- /widget-content -->

</div> <!-- /widget -->

</p>	

</li>
					
                                                
                                                
<li>
    
<h4>Formations</h4>
<p>  
    <div class="widget stacked widget-table action-table">



<div class="widget-content">

<table class="table table-striped table-bordered">
<thead>
<tr>

<th>Intitule</th>
<th>Dateinscription</th>
<th>Dateobtention</th>
<th>Note</th>
<th>Mention</th>
<th>Etablissement</th>
<th>Ville</th>

</tr>
</thead>
<tbody>
{% for entity in formations %}
<tr>

<td>{{ entity.intitule }}</td>
<td>{% if entity.dateinscription %}{{ entity.dateinscription|date('Y-m-d H:i:s') }}{% endif %}</td>
<td>{% if entity.dateobtention %}{{ entity.dateobtention|date('Y-m-d H:i:s') }}{% endif %}</td>
<td>{{ entity.note }}</td>
<td>{{ entity.mention }}</td>
<td>{{ entity.etablissement }}</td>
<td>{{ entity.ville }}</td>

</tr>
{% endfor %}
</tbody>
</table>

</div> <!-- /widget-content -->

</div> <!-- /widget -->

  
</p>	

</li> 



<li>
							<h4>Semestre</h4>
                                                               <p>
                                                                   
                                                                   
<div class="widget stacked widget-table action-table">



<div class="widget-content">

<table class="table table-striped table-bordered">
<thead>
<tr>
<th>Semestre</th>
<th>Note</th>
<th>rattrapage</th>

</tr>
</thead>
<tbody>

{% for entity in semestres %}
<tr>
<td>Semestre {{ entity.semestre}}</td>
<td>{{ entity.note }}</td>
<td>{{ entity.hasrattrapage }}</td>

</tr>
{% endfor %}
</tbody>
</table>

</div> <!-- /widget-content -->

</div> <!-- /widget -->


                                                              </p>	
								
						</li>
                                                
					</ol>
					
					
				</div> <!-- /widget-content -->
					
			</div> <!-- /widget -->	
			
	    </div> <!-- /span8 -->
	    
	    
	    
	    <div class="span4">
					
			
			
			
			<div class="widget stacked widget-box">
				
				<div class="widget-header">	
					<h3>Notification</h3>			
				</div> <!-- /widget-header -->
				
				<div class="widget-content">
					
					<p>Votre candidature est bien Validé  .</p>
					
				</div> <!-- /widget-content -->
				
			</div> <!-- /widget -->
			
		</div> <!-- /span4 -->
      	
      	
      	
      </div> <!-- /row -->

    </div> <!-- /container -->
	    
</div> <!-- /main -->
    
  
<div class="footer">
		
	<div class="container">
		
		<div class="row">
			
			<div id="footer-copyright" class="span6">
				&copy; 2014-15 MQL
			</div> <!-- /span6 -->
			
			<div id="footer-terms" class="span6">
				Theme by Redone
			</div> <!-- /.span6 -->
			
		</div> <!-- /row -->
		
	</div> <!-- /container -->
	
<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{ asset('js/libs/jquery-ui-1.10.0.custom.min.js') }}"></script>
<script src="{{ asset('js/libs/jquery-1.8.3.min.js') }}"></script>

<script src="{{ asset('js/libs/bootstrap.min.js') }}"></script>
<script src="{{ asset('js/plugins/validate/jquery.validate.js') }}"></script>
<script src="{{ asset('js/Application.js') }}"></script>

<script src="{{ asset('js/plugins/faq/faq.js') }}"></script>
<script src="{{ asset('js/demo/faq.js') }}"></script>
</body>
</html>
