{% extends '::base.html.twig' %}
{% block stylesheets %}
<style>
        th{
        font-size :15px;
        font-weight :bold;
        width:  150px;
        }
          td{
       
        width:  100px;
        }
          #mqluit_candidaturebundle_candidattype_datenaissance_day{
        width: 60px;
        }
         #mqluit_candidaturebundle_candidattype_datenaissance_year,#mqluit_candidaturebundle_candidattype_datenaissance_month{
        width: 80px;
        }
</style>
<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/themes/ui-lightness/jquery-ui.css" type="text/css" />  
<link rel="stylesheet" href="{{ asset('css/style.css') }}" type="text/css" media="all" />
<link rel="stylesheet"  href="{{ asset('css/bootstrap-image-gallery.min.css') }}" type="text/css" media="all" />

{% endblock %}
{% block titreP -%} Profile {% endblock %}
{% block body -%}




    
    
      			
  			
<div class="span6" style="float: left; width: 500px;" >
  				
  				<div class="widget stacked widget-table" >
	
					<div class="widget-content">
						<table class="table table-bordered table-striped">
							
						
					
						<tbody>
                                          

            <tr>
                <th class="description">Nom et Prénom</th>
                <td class="value">{{ entity.nom }}  {{ entity.prenom }}</td>
            </tr>
        <tr>
                <th class="description">Sexe</th>
                <td class="value">{{ entity.sexe }}</td>
            </tr>
            <tr>
                <th class="description">Date de Naissance</th>
                <td class="value">{{ entity.datenaissance|date('Y-m-d') }}</td>
            </tr>
                <tr>
                <th class="description">Nationalité</th>
                <td class="value">{{ entity.nationalite }}</td>
            </tr>
                <tr>
                <th class="description">CIN</th>
                <td class="value">{{ entity.cin }}</td>
            </tr>
            <tr>
                <th class="description">CNE</th>
                <td class="value">{{ entity.cne }}</td>
            </tr>
            
        </tbody></table>
       		
					</div> <!-- .widget-content -->
					
				</div>
  				
  			</div> <!-- /span4 -->

                        
                            
    
      			
  			
  			<div class="span6" style="float: right; margin-top: 20px;">
  				
  				<div class="widget stacked widget-table">
	
					<div class="widget-content">
				
            
        	<table class="table table-bordered table-striped">
							
						
					
						<tbody>    
         
        
            <tr>
                <th class="description">Email</th>
                <td class="value">{{ entity.email }}</td>
            </tr>
            <tr>
                <th class="description">GSM</th>
                <td class="value">{{ entity.telephone }}</td>
            </tr>
        
            
               <tr>
                <th class="description">Adresse</th>
                <td class="value">{{ entity.adresse }}</td>
            </tr>
            <tr>
                <th class="description">Ville</th>
                <td class="value">{{ entity.ville }}</td>
            </tr>
            <tr>
                <th class="description">Pays</th>
                <td class="value">{{ entity.pays }}</td>
            </tr>

						
					</tbody></table>
						
					</div> <!-- .widget-content -->
					
				</div>
  				
  			</div> <!-- /span4 -->

                        <div class="span10" style="margin-left: 80px;">
  				
  				<div class="widget stacked widget-table">
	
					<div class="widget-content">
				
            
        	<table class="table table-bordered table-striped">
							
						
					
						<tbody>    
         
        
    
          
             <tr>
                 <th class="description" colspan="2">
                 
   <a data-toggle="modal" href="#editform" class="btn btn-small btn-warning" href="javascript:;" style="float: left;">
        Modifier</a>
   <a href="{{ path('candidat_inscription2') }}" class="btn btn-small btn-warning" style="float: right;">Continue >>></a>
              
                 </th>
                 
             
            </tr>
						
					</tbody></table>
						
					</div> <!-- .widget-content -->
					
				</div>
  				
  			</div> <!-- /span4 -->

                        
                                                
                        

<div id="editform" class="modal hide fade" tabindex="-1" style="overflow-y: auto;height:600px;">
      <div class="modal-header">
        <a class="close" data-dismiss="modal">&times;</a>
        <h3 class="modal-title">Modifier Profil</h3>
    </div>
{% include "mqlUITCandidatureBundle:Candidat:edit.html.twig" %}
</div>
    
{% endblock %}
 {% block test %}


{% endblock %}
 