{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Diplome list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Intitule</th>
                <th>Dateinscription</th>
                <th>Dateobtention</th>
                <th>Note</th>
                <th>Mention</th>
                <th>Etablissement</th>
                <th>Ville</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('diplome_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.intitule }}</td>
                <td>{% if entity.dateinscription %}{{ entity.dateinscription|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.dateobtention %}{{ entity.dateobtention|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.note }}</td>
                <td>{{ entity.mention }}</td>
                <td>{{ entity.etablissement }}</td>
                <td>{{ entity.ville }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('diplome_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('diplome_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('diplome_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
