{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Diplome</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Intitule</th>
                <td>{{ entity.intitule }}</td>
            </tr>
            <tr>
                <th>Dateinscription</th>
                <td>{{ entity.dateinscription|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Dateobtention</th>
                <td>{{ entity.dateobtention|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Note</th>
                <td>{{ entity.note }}</td>
            </tr>
            <tr>
                <th>Mention</th>
                <td>{{ entity.mention }}</td>
            </tr>
            <tr>
                <th>Etablissement</th>
                <td>{{ entity.etablissement }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ entity.ville }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('diplome') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('diplome_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('diplome_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}
