{% extends '::base.html.twig' %}
{% block stylesheets %}
<style>
        th{
        font-size :15px;
        font-weight :bold;
        }
 
</style>
<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/themes/ui-lightness/jquery-ui.css" type="text/css" />  
<link rel="stylesheet" href="{{ asset('css/style.css') }}" type="text/css" media="all" />
<link rel="stylesheet"  href="{{ asset('css/bootstrap-image-gallery.min.css') }}" type="text/css" media="all" />

{% endblock %}
{% block titreP -%}Liste des Responsables {% endblock %}

{% block body -%}
    
   <div class="span11">
      <table class="table table-bordered table-striped table-highlight">
                                        <thead>
                                        <tr> 
                                            <th>Nom</th>
                                            <th>Prenom</th>
                                            <th>Email</th>
                                            <th>Filiere</th>
                                            <th>Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                            {% if filiere == null%}
                                                 {% for entity in entities %}
                                                 
                                                
                                              
                                            <tr>
                                                   
                                                    <td>{{ entity.nom }}</td>
                                                    <td style="width: 100px;">{{ entity.prenom }}</td>
                                                    <td>{{ entity.email }}</td>
                
                                               
                                                <td>              
                                    
                                                 <a class="btn btn-small btn-info"  href="{{ path('filiere_new', { 'id': entity.id }) }}"  title="affecter"  ><i class="btn-icon-only icon-ok"></i></a>
                                                 
                                              
                                                 </td>
                                               <td>
                                              <a  data-toggle="modal"  href="{{ path('responsable_edit', { 'id': entity.id }) }}"  class="btn btn-small btn-warning"  title="modifier" > 
                                                   <i class="btn-icon-only icon-edit"></i>
                                              </a>
                                                       
                                              </td>
                                            </tr>   
                                                 {% endfor %}   
                                            
   

                                             {% endif %}   
                                                
                                            {% for entity in entities %}
                                                 {% set counter = 0 %}
                                                
                                                {% for fil in filiere %}
                                            <tr>
                                                   
                                                    <td>{{ entity.nom }}</td>
                                                    <td style="width: 100px;">{{ entity.prenom }}</td>
                                                    <td>{{ entity.email }}</td>
                
                                               
                                                <td>
                                                    
                                                    {% if entity.id == fil.responsable.id %}
                                                        {% set counter = 5 %}
                                                    {% endif %}
                                                   
                                                        
                                                 {% if counter == 0 %}
                                                 <a class="btn btn-small btn-info"  href="{{ path('filiere_new', { 'id': entity.id }) }}"  title="affecter"  ><i class="btn-icon-only icon-ok"></i></a>
                                                 {% endif %}
                                                 {% if counter == 5 %} 
                                                    
                                                   
                                                   <a  data-toggle="modal"  href="{{ path('filiere_edit', { 'id': fil.id }) }}"   title="modifier" > 
                                                    {{ fil.intitule }}
                                              </a>
                                                 {% endif %} 
                                                 </td>
                                               <td>
                                              <a  data-toggle="modal"  href="{{ path('responsable_edit', { 'id': entity.id }) }}"  class="btn btn-small btn-warning"  title="modifier" > 
                                                   <i class="btn-icon-only icon-edit"></i>
                                              </a>
                                                       
                                              </td>
                                            </tr>   
                                                 {% endfor %}   
                                            {% endfor %}
   

                                        </tbody>
                                    </table>
				<a class="btn btn-small btn-success" href="{{ path('fos_user_registration_register_Admin') }}" style="float: right;">
                                    Ajouter un responsable
                                </a>
					
	
</div>


    {% endblock %}

 {% block test %}


{% endblock %}

