{% extends '::base.html.twig' %}
{% block stylesheets -%}
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/themes/ui-lightness/jquery-ui.css" type="text/css" />  
<link rel="stylesheet" href="{{ asset('css/style.css') }}" type="text/css" media="all" />
   <link rel="stylesheet"  href="{{ asset('css/bootstrap-image-gallery.min.css') }}" type="text/css" media="all" />
   <style>
           .btn-small{
           width: 50px;
           }
   </style>
{% endblock %}
{% block titreP -%}Liste Des Candidats{% endblock %}
{% block body -%}

  

      		
				
                                     <table class="table table-bordered table-striped table-highlight">
                                        <thead>
                                        <tr>
                                            <th>Nom</th>
                                            <th>prénom</th>
                                            <th>CNE</th>
                                            <th>CIN</th>
                                            <th>Modifer</th>
                                            <th>Supprimer</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                            {% for exp in candidats %}
                                            <tr>
                                                <td>{{exp.nom }}</td>
                                                <td>{{exp.prenom}}</td>
                                                <td>{{exp.cne}}</td>
                                                <td>{{exp.cin}}</td>
                                                <td><a class="btn btn-small" href="{{ path('candidature_annulation', { 'id': exp.id }) }}"><i class="btn-icon-only icon-remove"></i></a></td>
                                                  <td>{{exp.cin}}</td>
                                            </tr>   
                                            </tr>           
                                            {% endfor %}

                                           
                                            

                                        </tbody>
                                    </table>
				
{% endblock %}
